body {
    background-color: #0073B6;
}
h1 {
    color: aqua;
    width: max-content;
    margin: auto;
    border: solid;
    background-color: rgb(54, 91, 124);
}
div {width: 150px;
  height: 75px;
  background-color: #FF5722;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -37.5px;}
.ab {
    width: fit-content;
}
.abc {
    width: fit-content;
    margin-bottom: auto;
}
.c {
    width: fit-content;
    margin: auto;
}
.f {
color: aqua;
background-color: rgb(54, 91, 124);
border: solid;
}
.e {
color: aqua;
background-color: rgb(54, 91, 124);
border: solid;
}
